{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Story 9 - Book List
{% endblock title %}

{% block content %}
    <div class="main-div">
        <h1 class="text-main">
            Daftar Buku
        </h1>

        {% if username %}
            <h1 class="text-main" id="welcome-message">
                Welcome, {{ username }}!
            </h1>
        {% endif %}

        <div class="container" style="padding-top: 20px">
            <h3>Favorite Books: {{ favorite_books|length }}</h3>
        </div>

        <div class="container">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
            <br/>
	        <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" method="post" accept-charset="UTF-8" action="{% url 'book-list:book-list' %}">
                        {% csrf_token %}
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless category-search" type="search"
                                       placeholder="Cari kategori buku..."
                                       name="search">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success search-button" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>

        <div class="table table-responsive" style="padding-top: 20px">
            <table class="table table-hover" id="book-table">
                <thead>
                    <th>Cover Buku</th>
                    <th>Judul</th>
                    <th>Penulis</th>
                    <th>Penerbit</th>
                    <th>Jadikan Favorit</th>
                </thead>

                <tbody>
                    {% for item in books %}
                        <tr>
                            <td>
                                <img class="book-cover" src="{{ item.volumeInfo.imageLinks.thumbnail }}">
                            </td>
                            <td>{{ item.volumeInfo.title }}</td>
                            <td>{{ item.volumeInfo.authors.0 }}</td>
                            <td>{{ item.volumeInfo.publisher }}</td>
                            <td>
                                {% if not username %}
                                    <p>Anda harus login dahulu.</p>
                                {% else %}
                                    {% if not item.id in favorite_books %}
                                        <a href="{% url 'book-list:add-favorite' item.id %}">
                                            <img class="star-button" width="50px" height="50px"
                                                 src="{% static 'images/starOff.png' %}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'book-list:delete-favorite' item.id %}">
                                            <img class="star-button" width="50px" height="50px"
                                            src="{% static 'images/starOn.png' %}">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var starOn = "{% static 'images/starOn.png' %}";
        var starOff = "{% static 'images/starOff.png' %}";
        /*
        $(document).ready(function () {
            $('#book-table').DataTable({
                ajax: {
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: "",
                },
                columns: [
                    {
                        data: 'volumeInfo.imageLinks.thumbnail',
                        render: function (data) {
                            return '<img src="' + data + '"/>';
                        },
                        orderable: false
                    },
                    {data: 'volumeInfo.title', defaultContent: ""},
                    {data: 'volumeInfo.authors.[, ]', defaultContent: ""},
                    {data: 'volumeInfo.publisher', defaultContent: ""},
                    {data: 'id', orderable: false, render: function (data) {
                            return "<img class='star-button' width='50px' height='50px'" +
                                " src=" + starOff + " data-id=" + data + " >"; }
                    },
                ]
            });
        });*/
    </script>
    <script type="text/javascript" src="{% static 'js/story9.js' %}"></script>
{% endblock scripts %}